contact.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- responsive-->
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <!-- font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <!-- Foundation CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css" type="text/css">
    <!-- icon-->
    <link href="images/icon.jpg" rel="icon" type="image.ico">
    <!--  css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Contact Sonja Radaković</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <h1><a href="index.html">Sonja Radaković</a></h1>
      </header>
      <nav id="nav">
        <div data-responsive-toggle="menu" data-hide-for="medium" class="title-bar">
          <button type="button" data-toggle class="menu-icon"></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <div id="menu" data-animate="hinge-in-from-top hinge-out-from-top" class="top-bar">
          <ul data-accordion-menu class="vertical menu">
            <li class="works"><a href="#">works
                <ul data-submenu class="nested menu vertical">
                  <li><a href="whoredom.html">whoredom</a></li>
                  <li><a href="installations.html">installations</a></li>
                  <li><a href="infections.html">infections</a></li>
                  <li><a href="paintings.html">paintings</a></li>
                </ul></a></li>
            <li><a href="news.html">news</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
            <li class="final"></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div id="contact">
          <div id="sent-mail">E-mail has been sent. Thank you!</div>
          <div id="error-mail">Invalid entry, please fill required fields.</div><img src="images/contact/Sonja.jpg">
          <p>Contact</p>
          <p class="mail"><a href="mailto:sonjeta@gmail.com">sonjeta@gmail.com</a></p>
          <p>+381643224565</p>
          <div class="social">
            <div><a href="https://www.facebook.com/sonja.radakovic.14?fref=ts" target="_blank"><img src="images/contact/fb.svg"></a></div>
            <div><a href="https://www.linkedin.com/in/sonja-radakovi%C4%87-9ab85a48/" target="_blank"><img src="images/contact/In.svg"></a></div>
            <div><a href="https://www.instagram.com/soponjapa/" target="_blank"><img src="images/contact/inst.svg"></a></div>
          </div>
          <form id="contact" method="post" action="sendmail.php" name="Contact">
            <input id="name" name="name" type="text" placeholder="Name" required>
            <input id="email" name="email" type="email" placeholder="e-mail" required>
            <input id="subject" name="subject" type="text" placeholder="Subject" required>
            <textarea id="text" name="message" placeholder="Message"></textarea>
            <input id="button" type="submit" value="Submit" class="button">
          </form>
        </div>
      </div>
      <footer id="footer" class="small-12 column">
        <p>&copy; by Sonja Radaković</p>
      </footer>
      <div id="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/what-input.js"></script>
        <script src="js/footer.js"></script>
        <script src="js/contact.js"></script>
      </div>
    </div>
  </body>
</html>

contact.jade
- var lang = "Eng"

doctype html
html(lang = "en")
  head
    case lang
      when "Eng"
        include includes/head
      default
        include ../includes/head
    title Contact Sonja Radaković
  body
    #wrapper
      header#header
        h1: a(href="index.html") Sonja Radaković
      nav#nav
        include includes/menu/menu
      .container
        include includes/container/contactCont
      include includes/footer
      #script
        case lang
          when "Eng"
            include includes/scripts
          default
            include ../includes/scripts
