index.jade
- var lang = "Eng"

doctype html
html(lang = "en")
  head
    case lang
      when "Eng"
        include includes/head
      default
        include ../includes/head
    title Sonja Radaković
  body
    #wrapper
      header#header
        h1: a(href="index.html") Sonja Radaković
      nav#nav
        include includes/menu/menu
      .container 
        include includes/container/indexCont
      include includes/footer
      #script
        case lang
          when "Eng"
            include includes/scripts
          default
            include ../includes/scripts

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- responsive-->
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <!-- font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <!-- Foundation CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css" type="text/css">
    <!-- icon-->
    <link href="images/icon.jpg" rel="icon" type="image.ico">
    <!--  css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Sonja Radaković</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <h1><a href="index.html">Sonja Radaković</a></h1>
      </header>
      <nav id="nav">
        <div data-responsive-toggle="menu" data-hide-for="medium" class="title-bar">
          <button type="button" data-toggle class="menu-icon"></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <div id="menu" data-animate="hinge-in-from-top hinge-out-from-top" class="top-bar">
          <ul data-accordion-menu class="vertical menu">
            <li class="works"><a href="#">works
                <ul data-submenu class="nested menu vertical">
                  <li><a href="whoredom.html">whoredom</a></li>
                  <li><a href="installations.html">installations</a></li>
                  <li><a href="infections.html">infections</a></li>
                  <li><a href="paintings.html">paintings</a></li>
                </ul></a></li>
            <li><a href="news.html">news</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
            <li class="final"></li>
          </ul>
        </div>
      </nav>
      <div class="container"> 
        <div id="index"><img src="images/Sonja.jpg" alt="Sonja"></div>
      </div>
      <footer id="footer" class="small-12 column">
        <p>&copy; by Sonja Radaković</p>
      </footer>
      <div id="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/what-input.js"></script>
        <script src="js/footer.js"></script>
        <script src="js/contact.js"></script>
      </div>
    </div>
  </body>
</html>
