paintings.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- responsive-->
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <!-- font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <!-- Foundation CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css" type="text/css">
    <!-- icon-->
    <link href="images/icon.jpg" rel="icon" type="image.ico">
    <!--  css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Paintings</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <h1><a href="index.html">Sonja Radaković</a></h1>
      </header>
      <nav id="nav">
        <div data-responsive-toggle="menu" data-hide-for="medium" class="title-bar">
          <button type="button" data-toggle class="menu-icon"></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <div id="menu" data-animate="hinge-in-from-top hinge-out-from-top" class="top-bar">
          <ul data-accordion-menu class="vertical menu">
            <li class="works"><a href="#">works
                <ul data-submenu class="nested menu vertical">
                  <li><a href="whoredom.html">whoredom</a></li>
                  <li><a href="installations.html">installations</a></li>
                  <li><a href="infections.html">infections</a></li>
                  <li><a href="paintings.html">paintings</a></li>
                </ul></a></li>
            <li><a href="news.html">news</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
            <li class="final"></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <h2>Paintings</h2>
        <ul id="works" data-tabs class="tabs row">
          <li class="tabs-title small-6 column is-active"><a href="#panel0">Canvases</a></li>
          <li class="tabs-title small-6 column"><a href="#panel1">B2</a></li>
          <li class="tabs-title small-6 column"><a href="#panel2">Aquarelle</a></li>
          <li class="tabs-title small-6 column"><a href="#panel3">Transparency</a></li>
        </ul>
        <div data-tabs-content="works" class="tabs-content">
          <div id="panel0" class="tabs-panel">
            <div id="canvasesss">
              <h2>CANVASES</h2><img src="images/paintings/canvases/canvas1.jpg" alt="Canvas">
              <p>56%, mixed media, 200 x 250cm, 2011</p><img src="images/paintings/canvases/canvas2.jpg" alt="Canvas">
              <p>Dijagonala / Diagonal, mixed media, 200 x 250cm, 2012</p><img src="images/paintings/canvases/canvas3.jpg" alt="Canvas">
              <p>Čokolada sa rižom / Rice Chocolate, oil on canvas, 157 x 70cm, 2010</p><img src="images/paintings/canvases/canvas4.jpg" alt="Canvas">
              <p>Toblerone, mixed media, 157 x 70cm, Collection of New Belgrade Cultural Network, Block gallery 2011</p><img src="images/paintings/canvases/canvas5.jpg" alt="Canvas">
              <p>Post Eat, oil on canvas, 157 x 70cm, Collection of Serbian Academy of Arts and Sciences, 2011</p><img src="images/paintings/canvases/canvas6.jpg" alt="Canvas"><img src="images/paintings/canvases/canvas7.jpg" alt="Canvas">
              <p>Yo - Yo, oil on canvas, diptych 157 x 150cm, 2011</p><img src="images/paintings/canvases/canvas8.jpg" alt="Canvas"><img src="images/paintings/canvases/canvas9.jpg" alt="Canvas">
              <p>Mrvice / The crumbs, oil on canvas, diptych 170 x 70cm, Vlado Njaradi artcollony collection, 2011</p><img src="images/paintings/canvases/canvas10.jpg" alt="Canvas"><img src="images/paintings/canvases/canvas11.jpg" alt="Canvas">
            </div>
          </div>
          <div id="panel1" class="tabs-panel">
            <div id="b2">
              <h2>B2 Aquarelles</h2><img src="images/paintings/B2/b2-1.jpg" alt="Untitled, aquarelle">
              <p>Bez naziva / Untitled, aquarelle, 100 x 70cm, 2012</p><img src="images/paintings/B2/b2-2.jpg" alt="Untitled, aquarelle">
              <p>Bez naziva / Untitled, aquarelle, 100 x 70cm, 2013</p><img src="images/paintings/B2/b2-3.jpg" alt="Untitled, aquarelle">
              <p>Bez naziva / Untitled, aquarelle, 100 x 70cm, 2014</p>
            </div>
          </div>
          <div id="panel2" class="tabs-panel">
            <div id="aquarelle">
              <h2>Small format aquarelles (not bigger than A4) done in period from 2008 to 2013</h2><img src="images/paintings/aquarelle/aquarelle1.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle2.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle3.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle4.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle5.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle6.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle7.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle8.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle8.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle9.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle10.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle11.jpg" alt="Aquarelle"><img src="images/paintings/aquarelle/aquarelle12.jpg" alt="Aquarelle">
            </div>
          </div>
          <div id="panel3" class="tabs-panel">
            <div id="paintings">
              <h2>Transparency</h2>
              <p>Transparent paintings-objects (dimensions of standard A4 paper) are made from two or more light transmitting layers that overlapping. Their appearance is variable and depends on the intensity of the light source and the viewing angle. Changing light shadow environment affects the constant change the form of these objects.</p><img src="images/paintings/transparency/transparency1.jpg"><img src="images/paintings/transparency/transparency2.jpg"><img src="images/paintings/transparency/transparency3.jpg"><img src="images/paintings/transparency/transparency4.jpg"><img src="images/paintings/transparency/transparency5.jpg"><img src="images/paintings/transparency/transparency6.jpg"><img src="images/paintings/transparency/transparency7.jpg">
            </div>
          </div>
        </div>
      </div>
      <footer id="footer" class="small-12 column">
        <p>&copy; by Sonja Radaković</p>
      </footer>
      <div id="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/what-input.js"></script>
        <script src="js/footer.js"></script>
        <script src="js/contact.js"></script>
      </div>
    </div>
  </body>
</html>

paintings.jade
- var lang = "Eng"
- var works = "Paintings"

doctype html
html(lang = "en")
  head
    case lang
      when "Eng"
        include includes/head
      default
        include ../includes/head
    title Paintings
  body
    #wrapper
      header#header
        h1: a(href="index.html") Sonja Radaković
      nav#nav
        include includes/menu/menu
      .container
        h2 #{works}
        case works
          when "Whoredom"
            include includes/container/works/01-whoredom/whoredom
          when "Installations"
            include includes/container/works/02-installations/installations
          when "Infections"
            include includes/container/works/03-infections/infections
          when "Paintings"
            include includes/container/works/04-paintings/paintings
      include includes/footer
      #script
        case lang
          when "Eng"
            include includes/scripts
          default
            include ../includes/scripts
